<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sai.test.remotetestservice">

    <permission
        android:name="com.sai.test.testservice.SERVICE_PERM"
        android:description="@string/desc_service_permission"
        android:label="Service permission for security"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".RemoteTestService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.sai.test.testservice.SERVICE_PERM">
        </service>
    </application>

</manifest>