<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sai.test.testapp">

    <permission
        android:name="com.sai.test.testapp.ACTIVITY_PERM"
        android:description="@string/desc_activity_permission"
        android:label="Intent permission for deadly activity"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.sai.test.testapp.RECEIVER_PERM"
        android:description="@string/desc_intent_permission"
        android:label="Activity permission for deadly receiver"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.sai.test.testservice.SERVICE_PERM"
        android:description="@string/desc_service_permission"
        android:label="Service permission for security"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.sai.test.testapp.PROVIDER_PERM"
        android:description="@string/desc_provider_permission"
        android:label="Provider permission for security"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.sai.test.testservice.SERVICE_PERM" />
    <uses-permission android:name="com.sai.test.testapp.PROVIDER_PERM" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetTestActivity1"
            android:launchMode="singleTask" />
        <activity
            android:name=".IntentTestActivity"
            android:launchMode="singleTask"
            android:permission="com.sai.test.testapp.ACTIVITY_PERM">
            <intent-filter>
                <action android:name="com.sai.test.testapp.SAMPLE_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceTestActivity" />
        <activity android:name=".ProviderTestActivity" />

        <receiver
            android:name=".SampleReceiver"
            android:permission="com.sai.test.testapp.RECEIVER_PERM">
            <intent-filter>
                <action android:name="com.sai.test.testapp.SAMPLE_INTENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sai.test.localtestservice.LocalTestService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.sai.test.testservice.SERVICE_PERM"
            android:process=":local_service" />

        <provider
            android:name="com.sai.test.localtestprovider.LocalTestProvider"
            android:authorities="com.sai.test.localtestprovider"
            android:enabled="true"
            android:exported="false"
            android:permission="com.sai.test.testapp.PROVIDER_PERM" />

        <activity
            android:name=".MediaTestActivity"
            android:label="@string/title_activity_media_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>